/* globals */
:root{
    --color-primary: #2292A4;
    --color-secondary: #D1495B;
    --color-tertiary: #D96C06;
    --color-white: #F5EFED;
    --color-black: #0F0A0A;
    --color-gray: #3b3b3b;
    --color-gray-light: #e1e1e1;

    --font2: 'Roboto Mono', monospace;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}

.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 500;
    font-family: var(--font2);
    margin: 2.5rem 0;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.2rem;
}
h2 span{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-black);
}
h3{
    font-size: 2.6rem;
}
p{
    font-size: 1.8rem;
}
/* utilitys */

.text-center{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
/* header */

.header{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 8rem 0;
}
@media (min-width: 768px) {
     .header-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

     }
}
.header-text{
    text-align: center;
   
}
@media (min-width: 768px) {
     .header-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
}

.tagline-product{
    font-size: 3rem;
    font-weight: 700;
}

.product-name{
    font-size: 4rem;
}

@media (min-width: 768px) {
    .product-name{
        font-size: 6rem;
        line-height: 1;
    }
}
.degraded{
    color: transparent;
    background: linear-gradient(to right, var(--color-primary)0%, var(--color-secondary) 50%);
    -webkit-background-clip: text;
    background-clip: text ;
}   

.price-product span{
    font-size: 6rem;
    font-weight: 700;
}

/* Icons */
.icons{
    padding: 2.5rem 0;
}
@media (min-width: 768px) {
    .icons{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
.icons img{
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.icon{
   text-align: center;
}

.icon h3{
    color: var(--color-primary);
}

/* about */

.about-us{
     background-position: 50% 32%;
     background-repeat: no-repeat;
     background-size: 100%, 50rem;
     margin-bottom: 1rem;
     color: var(--color-white);
}
.notavif.notwebp .about-us{
    background-image: linear-gradient(to bottom, transparent 50%,
    var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.jpg);
}
.webp .about-us{
    background-image: linear-gradient(to bottom, transparent 50%,
    var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.webp);
}
.avif .about-us{
    background-image: linear-gradient(to bottom, transparent 50%,
    var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.avif);
}

@media (min-width: 768px) {
    .about-us{
         background-position: initial;
         padding: 8rem 0;
         background-size: 100%, 150rem;
        }
    .notavif.notwebp .about-us{
        background-image: linear-gradient(to left, transparent 50%,
        var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.jpg);
    }
    .webp .about-us{
        background-image: linear-gradient(to left, transparent 50%,
        var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.webp);
    }
    .avif .about-us
    {
        background-image: linear-gradient(to left, transparent 50%,
        var(--color-primary) 50%,var(--color-primary) 100%  ), url(../img/about.avif);
    }
}

@media (min-width: 1600px) {
    .about-us{
        background-size: 100%, 100%;
    }
}
.about-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.about-text{
    grid-row: 2 / 3;
    padding: 5rem;
    
}
@media (min-width: 768px) {
    .about-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 4rem;
    }
    .about-text{
        grid-column: 1/2;
        line-height: 2;
    }
}

/* Models */

.models{
    padding: 5rem 0;
}

.header-models{
    font-size: 6rem;
    margin-bottom: 5rem;
}

.list-models{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .list-models{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);

        gap: 2rem;
    }
}

.model{
    background-color: var(--color-gray-light);
    margin-bottom: 2rem;
    padding-left: 4rem;
    color: var(--color-primary);
    border-radius: 2rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}


.model:hover{
    transform: scale3d(1.05, 1.05, 1);
    background-size: 20rem;
}

@media (min-width: 992px) {
    .model{
        margin: 0;
        background-size: 30rem;
    }
    .model:hover{
        transform: scale3d(1.05, 1.05, 1);
        background-size: 38rem;
    }
}

.model h3{
    font-size: 3rem;
}

.model .price{
    font-weight: bold;
    font-size: 4rem;
    line-height: 0;
}
.model-z .price{
    font-size: 6rem;
}

.model-z{
    background-color: var(--color-primary);
    color: var(--color-white);
    background-image: url(../img/keyboardz.svg);
}

@media (min-width: 992px) {
    .model-z{
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 35rem;
    }
    .model-z h3{
        font-size: 5rem;
    }
}
.model-x{
    background-image: url(../img/keyboardx.svg);
}
.model-y{
    background-image: url(../img/keyboardy.svg);
    
}
.model:first-of-type{
    margin-bottom: 0;

}

/* newsletter */

.newsletter{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 40rem;
}
.notavif.notwebp .newsletter{
    background-image: linear-gradient(to bottom, transparent 50%, white 0%), url(../img/newsletter.jpg);
}
.webp .newsletter{
    background-image: linear-gradient(to bottom, transparent 50%, white 0%), url(../img/newsletter.webp);
}
.avif .newsletter{
    background-image: linear-gradient(to bottom, transparent 50%, white 0%), url(../img/newsletter.avif);
}

@media (min-width: 768px) {
    .newsletter{
        background-image: linear-gradient(to right, transparent 50%, white 0%), url(../img/newsletter.jpg);
        background-size: 100% 80rem;
        background-position: center 40%;
        margin-bottom: 2rem;
        padding: 10rem 0;
    }
    .notavif.notwebp .newsletter{
        background-image: linear-gradient(to right, transparent 50%, white 0%), url(../img/newsletter.jpg);
    }
    .webp .newsletter{
        background-image: linear-gradient(to right, transparent 50%, white 0%), url(../img/newsletter.webp);
    }
    .avif .newsletter{
        background-image: linear-gradient(to right, transparent 50%, white 0%), url(../img/newsletter.avif);
    }

}
@media (min-width: 1600px) {
    .newsletter{
        background-size: 100% 100rem
    }
}
.newsletter-content{
    display: grid;
    grid-template-rows: repeat(2, 20rem);
    gap: 5rem;
}

@media (min-width: 768px) {
    .newsletter-content  {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);

    }
}
.newsletter-text{
    grid-row: 2/3;
}

@media (min-width: 768px) {
    .newsletter-text{
        grid-row: unset;
        grid-column: 2/3;
    }
}

.form input{
    width: 100%;
    padding: 1rem;
}

.btn{
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    opacity: 0.6;
}

/* footer */
.footer{
    text-align: center;
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-primary);
    padding: 2rem;
}